body{
    background-image: url(fondco.jpg);
    background-repeat: no-repeat center;
    height: 100vh;
  
    min-height: 500px;
    background-size: cover;
  
    font-family: 'Ubuntu', sans-serif;
  }
  
#h1{ background-color: blue; 

}

  